---
---

<article class="flex flex-col items-center justify-center gap-8 text-secondary md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-primary [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty "
  >
    <p>
      My name is Juan Diego Matute, I am 18 years old, and I am from San Carlos. 
      I am about to finish my studies, obtaining a <strong class="italic"> Technical Degree in Software Development </strong> and 
      a high school diploma in diversified education.
    </p>

    <p>
      <strong>I am interested in data analysis and web development.</strong>
      I have skills in interpreting problems and mathematical algorithms, 
      and I enjoy implementing programs that involve the <strong> use of Python </strong> since 
      it is a powerful tool in the field of <strong> data analysis, data management, and machine learning</strong>.
    </p>

    <p>
      I have experience in web development, and <strong> my greatest achievement to date is <em class="italic">SmartCoop</em>, 
      specialized software designed for cooperatives</strong>. It features a comprehensive catalog, 
      handling three types of users, accounting modules, and sales modules managed by administrators, 
      along with <strong>over 12 dynamic pages.</strong>
    </p>
  </div>

  <div class="text-center object-cover w-64 h-full p-1 rotate-2 lg:p-2 lg:w-1/2 aspect-square rounded-2xl ring-2 ring-primary">
    image or references
    here
  </div>

</article>
