---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { getLangFromUrl, useTranslations} from '../i18n/utils.ts'
import LanguagePicker from "./LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { currentLocale } = Astro;

const isInternalLink = (url) => {
  return url.startsWith("#") || url.startsWith(`${window.location.origin}/`);
};


const navItems = [
  {
    title: t('nav.#experience'),
    label: "experience",
    url: isInternalLink("#experience") ? "#experience" : getRelativeLocaleUrl(currentLocale, "#experience"),

  },
  {
    title: t('nav.#projects'),
    label: "projects",
    url: isInternalLink("#projects") ? "#projects" : getRelativeLocaleUrl(currentLocale, "#projects"),
  },
  {
    title: t('nav.#stack'),
    label: "stack",
    url: isInternalLink("#stack") ? "#stack" : getRelativeLocaleUrl(currentLocale, "#stack"),
  },
  {
    title: t('nav.#about'),
    label: "about",
    url: isInternalLink("#about") ? "#about" : getRelativeLocaleUrl(currentLocale, "#about"),
  },
  {
    title: t('nav.#contact'),
    label: "contact",
    url: isInternalLink("#home") ? "#home" : getRelativeLocaleUrl(currentLocale, "#home"),
  },
]
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 text-sm font-medium rounded-full text-primary dark:text-primary justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>

        
      ))
    }
    <LanguagePicker />
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section")
    const navItems = document.querySelectorAll("header nav a")

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-yellow-500")
            } else {
              item.classList.remove("text-yellow-500")
            }
          })
        }
      })
    }

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    })

    sections.forEach((section) => {
      observer.observe(section)
    })

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect()
      } else {
        sections.forEach((section) => {
          observer.observe(section)
        })
      }
    }
  })
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur dark:bg-gray bg-white/50 ring-white/10;
    }
  }
</style>
