---


---

<section class="">
    <div class=" text-center mx-5  md:mx-40 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
        <h2 class="text-secondary text-2xl md:text-5xl font-bold">" The truth can only be found in one place: <span class="text-primary">The code</span> "</h2>
    </div>

    <div class="flex justify-center mt-10">
        <a href="#projects" class="bg-primary-700 text-white font-bold py-2 px-4 rounded-full transition ease-in-out delay-150 hover:bg-gray hover:text-primary hover:-translate-y-1 hover:underline duration-300">View Projects</a>
    </div>
    
</section>