---

import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

---

<section class="">
    <div class=" text-center mx-5  md:mx-40 transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300">
        <h2 class="text-secondary text-2xl md:text-5xl font-bold">"{i18n.Info.phrase1} <span class="text-primary whitespace-nowrap">{i18n.Info.phrase2}</span>"</h2>
    </div>

    <div class="flex justify-center mt-10">
        <a href="#projects" class="bg-primary-700 text-white font-bold py-2 px-4 rounded-full transition ease-in-out hover:bg-gray hover:text-primary hover:-translate-y-1 hover:underline duration-300">{i18n.btn[2]}</a>
    </div>
    
</section>