---
import Card from "./Card.astro";
import Tailwind from "./Icons/Tailwind.astro";
import Python from "./Icons/Python.astro";
import Flask from "./Icons/Flask.astro";
import MySQL from "./Icons/MySQL.astro";
import JavaScript from "./Icons/JavaScript.astro"

import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const TAGS = {
  Python: {
    name: "Python",
    class: "bg-[#003159] text-white",
    icon: Python,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  Flask: {
    name: "Flask",
    class: "bg-[#003159] text-white",
    icon: Flask,
  },
  MySQL: {
    name:"MySQL",
    class: "bg-[#003159] text-white",
    icon: MySQL,
  }, 
  JavaScript:{
    name: "JavaScript",
    class: "bg-[#003159] text-white",
    icon: JavaScript
  }
}

---

<div class="flex flex-col gap-y-16">
    <Card  
        title="SmartCoop"
        description={i18n.Projects.description1}
        image="/img/smartcoop/smartcoop.png" 
        tags={
            [
                TAGS.Python,
                TAGS.Flask,
                TAGS.JavaScript,
                TAGS.MySQL
            ]

        }
        link=""
        github=""
        ClassName="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0"
        href="projects/smartcoop"
        
    
    
    />

    <Card  
        title="Paeta"
        description={i18n.Projects.description2}
        image="/img/paeta/paeta.png" 
        tags={
            [
                TAGS.Python,
                TAGS.Flask,
                TAGS.JavaScript,
                TAGS.MySQL
            ]

        }
        link=""
        github="https://github.com/jdmatu/paeta"
        ClassName="flex flex-col space-x-0 space-y-8 group md:flex-row-reverse md:space-x-0 md:space-y-0"
        href="projects/paeta"
    
    
    />


</div>