<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 text-primary-700 transition bg-transparent border border-primary-400 rounded-full text-md hover:bg-gray hover:border-secondary group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 "
>
  <slot />
</a>