---

import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

---

<div class="text-primary">
    <div class="flex flex-col md:flex-row gap-4 justify-around py-3">
        
        <div class="bg-fondo w-full rounded-lg border-2 border-primary">
            <h2 class="text-lg mx-3 mb-2 ">{i18n.Frameworks[1]}</h2>
            <div class="flex flex-wrap justify-center">
                <span class="text-lg mx-2 text-secondary-100 hover:transition ease-in-out delay-75 hover:underline hover:text-primary">Python</span>
                <span class="text-lg mx-2 text-secondary-100 hover:transition ease-in-out delay-75 hover:underline hover:text-primary">JavaScript</span>
                <span class="text-lg mx-2 text-secondary-100 hover:transition ease-in-out delay-75 hover:underline hover:text-primary">HTML</span>
                <span class="text-lg mx-2 text-secondary-100 hover:transition ease-in-out delay-75 hover:underline hover:text-primary">CSS</span>
            </div>
        </div>

        <div class="bg-fondo w-full rounded-lg border-2 border-primary">
            <h2 class="text-lg mx-3 mb-2">{i18n.Frameworks[2]}</h2>
            <div class="flex flex-wrap justify-center">
                <span class="text-lg mx-2 text-secondary-100 hover:transition ease-in-out delay-75 hover:underline hover:text-primary">Flask</span>
                <span class="text-lg mx-2 text-secondary-100 hover:transition ease-in-out delay-75 hover:underline hover:text-primary">Pandas</span>
                <span class="text-lg mx-2 text-secondary-100 hover:transition ease-in-out delay-75 hover:underline hover:text-primary">Tailwind CSS</span>
                <span class="text-lg mx-2 text-secondary-100 hover:transition ease-in-out delay-75 hover:underline hover:text-primary">Astro</span>
                <span class="text-lg mx-2 text-secondary-100 hover:transition ease-in-out delay-75 hover:underline hover:text-primary">React</span>
            </div> 
        </div>
        
        <div class="bg-fondo w-full rounded-lg border-2 border-primary">
            <h2 class="text-lg mx-3 mb-2">{i18n.Frameworks[3]}</h2>
            <div class="flex flex-wrap justify-center">
                <span class="text-lg mx-2 text-secondary-100 hover:transition ease-in-out delay-75 hover:underline hover:text-primary">MySQL</span>
                <span class="text-lg mx-2 text-secondary-100 hover:transition ease-in-out delay-75 hover:underline hover:text-primary">PostgreSQL</span>
                <span class="text-lg mx-2 text-secondary-100 hover:transition ease-in-out delay-75 hover:underline hover:text-primary">Git | GitHub</span>
                <span class="text-lg mx-2 text-secondary-100 hover:transition ease-in-out delay-75 hover:underline hover:text-primary">Vercel</span>
                <span class="text-lg mx-2 text-secondary-100 hover:transition ease-in-out delay-75 hover:underline hover:text-primary">Netlify</span>
                <span class="text-lg mx-2 text-secondary-100 hover:transition ease-in-out delay-75 hover:underline hover:text-primary">PythonAnywhere</span>

            </div>
    

        </div>

    </div>
</div>