---

const { link, alt, src } = Astro.props
---

<a href={link} >

    <img
        class="rounded-full shadow-lg size-12 w-fit bg-secondary hover:bg-secondary-100 transition-colors duration-300 ease-in-out"
        src={src}
        alt={alt}
    />


</a>