---
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';

const {pageTitle} = Astro.props;

const { currentLocale } = Astro;


---

<html lang={currentLocale}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<meta name="description" content="Explore my portfolio showcasing my programming experience across various projects, with a future focus on Data Science and Machine Learning.">
		<ViewTransitions />
	</head>
	<body >

        <button class=" w-fit mt-3 ml-2 md:mt-10 md:ml-6 hover:bg-secondary-100 rounded-xl" onclick="window.history.back()">
            <svg class="hover:fill-black w-10 md:w-14" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="#ccd6f6">
                <polygon points="15.293 3.293 6.586 12 15.293 20.707 16.707 19.293 9.414 12 16.707 4.707 15.293 3.293"/>
                
            </svg>
            
            
        </button>
		<slot />
        <Footer />

		<style is:global>
			:root {
			color-scheme: dark;
			--color-primary: #64ffda !important;
			--color-secondary: #ccd6f6;

			--background-color: #091525;
			}

			@font-face {
				font-family: 'Atkinson';
				src: url('/fonts/atkinson-regular.woff') format('woff');
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Atkinson';
				src: url('/fonts/atkinson-bold.woff') format('woff');
				font-weight: 700;
				font-style: normal;
				font-display: swap;
			}

			html {
			font-family: 'Atkinson', system-ui, sans-serif;
			scroll-behavior: smooth;
			}

			body {
			color: rgba(17, 17, 17, 0.9);
			display: flex;
			flex-direction: column;
			min-height: 100vh;
			overscroll-behavior: none;
			}

			@media (prefers-reduced-motion: reduce) {
			html {
				scroll-behavior: auto;
			}
			}

			@media (prefers-color-scheme: dark) {
			body {
				color: rgba(255, 255, 255, 0.9);
			}
			}

			@keyframes blur {
			to {
				backdrop-filter: blur(20px);
				border-width: 1px;
				border-color: rgba(0, 0, 0);
				padding: 0.25rem 0.75rem;
				display: flex;
				flex-direction: row;
				align-items: center;
				background-color: rgb(229, 229, 229);
				border-radius: 9999px;
			}
			}

			@media (prefers-color-scheme: dark) {
			@keyframes blur {
				from {
				border: 0px;
				}
				to {
				box-shadow:
					0px 5px 50px -5px rgba(0, 0, 0, 0.1),
					0px 0px 0 1px rgba(0, 0, 0, 0.3);
				background: rgba(0, 0, 0, 0.3);
				backdrop-filter: blur(20px);
				border-width: 1px;
				border-color: rgba(0, 0, 0);
				padding-left: 0.75rem;
				padding-right: 0.75rem;
				padding-top: 0.25rem;
				padding-bottom: 0.25rem;
				display: flex;
				flex-direction: row;
				align-items: center;
				background-color: rgba(0, 0, 0, 0.3);
				border-radius: 9999px;
				}
			}
			}
		</style>

	</body>

</html>
